/* Landing page CSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* General styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

.landing-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Allow items to wrap */
    margin-top: 20px; /* Adjust margin as needed */
    position: relative; /* Relative positioning for absolute children */
}

.landing-image {
    width: 90%; /* Adjust width as needed */
    margin-top: 50px;
}

.landing-inputs-overlay {
    position: absolute;
    top: -470px;
    right: 400px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Display inputs in a column */
    align-items: center;
    justify-content: center;
    z-index: 1; /* Ensure inputs appear above the image */
}

.landing-input-container {
    width: 270px;
    max-width: 300px; /* Adjust as needed */
    margin: 10px;
    text-align: left; /* Align text to the left */
}

.landing-input-container label {
    display: block;
    margin-bottom: 4px;
    font-size: 20px;
}

.landing-input-container input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.input-with-button {
    display: flex;
    align-items: center;
}

.input-with-button input {
    width: calc(100% - 70px); /* Adjust input width to accommodate button */
}

.or-text-specific {
    margin-right: 80px;
}

.landing-button {
    margin-left: 10px; /* Adjust spacing between input and button */
    padding: 7px 28px; /* Larger padding for button */
    font-size: 16px; /* Larger font size for button text */
    min-width: 100px; /* Set minimum width for button */
    border: none;
    border-radius: 15px;
    background-color: #FC8A06;
    color: white;
    transition: background-color 0.3s ease; /* Added transition for smoother hover effect */
    cursor: pointer;
}

.landing-button:hover {
    background-color: #F9AA4E; /* Darker shade on hover */
}

/* Hide the mobile heading and train image in desktop view */
.mobile-heading,
.train-image {
    display: none;
}

.text-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Center the text */
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    animation: fadeInUp 2s forwards; /* Add animation to text section */
}

.text-icons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.text-icons-wrapper .left-icon {
    position: absolute;
    left: -400px; /* Adjust position as needed */
    width: 300px; /* Adjust size */
    height: 300px;
    margin-top: 150px;
}

.text-icons-wrapper .right-icon {
    position: absolute;
    right: -400px; /* Adjust position as needed */
    width: 300px; /* Adjust size */
    height: 300px;
    margin-top: 150px;
}

.text-section .small-icon1 {
    width: 55px; /* Adjust size of the icons */
    height: 55px;
    margin: 0 10px; /* Adjust spacing around icons */
    margin-top: -30px;
}

.text-section .small-icon2 {
    width: 50px; /* Adjust size of the icons */
    height: 50px;
    margin: 0 10px; /* Adjust spacing around icons */
    margin-top: -30px;
}

.text-section .ride-text {
    color: #FC8A06;
    font-size: 60px;
    font-weight: bold;
    display: inline;
}

.text-section .and-text {
    color: #000000;
    font-size: 60px;
    font-weight: bold;
    display: inline;
}

.text-section .dine-text {
    color: #028643;
    font-size: 60px;
    font-weight: bold;
    display: inline;
}

.text-section .enjoy-text {
    color: #7F4C10;
    font-size: 60px;
    margin-top: -20px;
    font-weight: bold;
}

.text-section .anywhere-text {
    color: #18500D;
    font-size: 60px;
    margin-top: -20px;
    font-weight: bold;
}

.text-section .experience-our-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    font-size: 55px;
    font-weight: bold;
}

.text-section .experience-text {
    color: #000000;
}

.text-section .benefits-text {
    color: #028643;
    margin-left: 10px;
}

.text-section .benefits-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.text-section .benefit-image {
    width: 250px;
    height: 280px;
    margin: 0 50px;
}

/* Apply animations to respective elements */
.benefit-image {
    animation: fadeInBenefitsImages 1s forwards;
}

.side-icon.left-icon {
    animation: fadeInBikeImage 1s forwards;
}

.side-icon.right-icon {
    animation: fadeInChickenImage 1s forwards;
}

.small-icon1 {
    animation: fadeInFriesImage 1s forwards;
}

.small-icon2 {
    animation: fadeInEggImage 1s forwards;
}

.train-image {
    animation: fadeInTrainImage 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* Animation for BenefitsImages */
@keyframes fadeInBenefitsImages {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation for ChickenImage */
@keyframes fadeInChickenImage {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation for BikeImage */
@keyframes fadeInBikeImage {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation for EggImage */
@keyframes fadeInEggImage {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation for FriesImage */
@keyframes fadeInFriesImage {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation for TrainImage */
@keyframes fadeInTrainImage {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .landing-container {
        flex-direction: column; /* Stack items vertically */
    }

    .landing-image {
        display: none; /* Hide the landing image */
    }

    .landing-inputs-overlay {
        position: relative;
        top: 50px;
        right: auto;
        background: none;
        padding-top: 50px; /* Add padding to make space for the text */
    }

    .background-box {
        position: absolute;
        top: 10px;
        left: 20px;
        width: calc(100% - 40px);
        height: 550px; /* Adjust the height to fit content */
        min-height: 50vh;
        background-color: #FFEEDA;
        z-index: 0; /* Ensure it is behind the inputs */
        border-radius: 20px;
        padding: 20px;
        box-sizing: border-box; /* Include padding in width and height */
    }

    .landing-inputs-overlay {
        z-index: 1; /* Ensure inputs appear above the background */
        margin-bottom: 250px;
    }

    .mobile-heading {
        display: block; /* Show the heading in mobile view */
        position: relative;
        margin-top: -50px;
        text-align: center;
        z-index: 2; /* Ensure text appears above everything else */
    }

    .mobile-heading .black-text {
        color: black;
        font-size: 24px;
        font-weight: bold;
    }

    .mobile-heading .green-text {
        color: #028643;
        font-size: 24px;
        font-weight: bold;
    }

    .train-image {
        display: block; /* Show the train image in mobile view */
        width: 100%;
        height: auto;
        margin-top: 20px; /* Add some spacing above the image */
        z-index: 1;
    }

    .text-section {
        margin-bottom: 100px; /* Adjust margin for mobile */
        margin-top: -100px;
    }

    .text-section .small-icon {
        width: 15px; /* Adjust icon size for mobile */
        height: 15px;
        margin: 0 5px;
    }

    .text-section .ride-text,
    .text-section .and-text,
    .text-section .dine-text {
        font-size: 35px; /* Adjust font size for mobile */
    }

    .text-section .enjoy-text,
    .text-section .anywhere-text {
        font-size: 35px; /* Adjust font size for mobile */
        margin-top: -10px;
    }

    .text-section .side-icon {
       display: none;
    }

    .text-section .experience-our-text {
        font-size: 32px; /* Adjust font size for mobile */
        flex-direction: column;
        margin-bottom: -20px;
        margin-top: 100px;
    }

    .text-section .benefits-images {
        flex-direction: column;
        align-items: center;
    }

    .text-section .benefit-image {
        width: 200px; /* Adjust size for mobile */
        height: 250px;
        margin: 15px 0;
    }
}
